!!!5
html
  head
    title #{title} - Crisco
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href="/logo.png")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/js/ICanHaz.min.js")
    script(src="/js/github.js")
    script(src="/js/async.js")
    script(src="/js/index.js")
    
  body
    header
      h1 Crisco
    .container
      .user
        if user
          = user.displayName
          a(href="/logout") logout
          script(type='text/javascript').
            document.GITHUB_OAUTH_TOKEN = "#{user.token}";
            document.CRISCO_WEBHOOK_URL = "#{baseUrl}/webhook";
        else
          a(href="/auth/github") login
      .main-content
        block content

        if user
          .watchtags
            :markdown
              Every time someone in repo you watch or in repo that belongs to your organisation mentions __#tag__ you watch, you will be included in code review

          .repos
            :markdown
              Click on repo to enable web hooks for pushes, pull requests and commit comments. We will send request for code review any time you write __review__ word in commit message, pull request message or commit comment
            #repos-list
    footer
      p Maintained by @darvin


script(id="repo", type="text/html")
  li
    a(href="{{ html_url }}") {{ full_name }} 
    input.repo-webhook-button(type="checkbox") Webhook?
    .repo-private Private? {{ private }}

